
.mfw-focus {
	position: relative;
	z-index: 20;
	margin-bottom: 20px;
	*zoom: 1;
	clear: both
}

.show-slider {
	position: relative;
	overflow: hidden;
	background-color: #f1f4f5
}

.show-slider .show-image {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 2
}

.show-slider .show-image li {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none
}

.show-slider .show-image li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0)
}

.show-slider .show-image li.first {
	display: inline-block
}

.show-slider .show-image li:after, .show-slider .show-image li:before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	background: url(/images/common/loading-big.png) no-repeat
}

.show-slider .show-image li:after {
	width: 180px;
	height: 180px;
	margin: -140px 0 0 -90px;
	-webkit-animation: loading-photo 1s ease 0s infinite normal running;
	animation: loading-photo 1s ease 0s infinite normal running
}

.show-slider .show-image li:before {
	width: 88px;
	height: 78px;
	margin: -89px 0 0 -44px;
	background-position: -200px 0
}

@
-webkit-keyframes loading-photo { 0%{
	-webkit-transform: rotate(0)
}

100%{
transform
:rotate(360deg)
}
}
@
keyframes loading-photo { 0%{
	transform: rotate(0)
}

100%{
transform
:rotate(360deg)
}
}
.show-slider .show-image li img {
	width: 100%;
	margin: 0 !important
}

.show-slider .show-image .show-info {
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -320px;
	min-width: 630px;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
	text-align: left;
	white-space: nowrap
}

.show-slider .show-pic {
	display: block;
	height: 100%
}

.show-slider .show-title {
	position: absolute;
	top: 25px;
	left: 50%;
	margin-left: -500px;
	color: #fff;
	font-size: 26px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	text-align: left;
	min-width: 1000px
}

.show-slider .show-title.dark {
	text-shadow: 0 1px 3px rgba(0, 0, 0, .9)
}

.show-slider .show-title:hover {
	text-decoration: none;
	color: #fff
}

.show-slider .show-title h3 {
	font-size: 26px;
	font-weight: normal
}

.show-slider .show-title .date {
	position: relative;
	width: 180px;
	font-size: 24px;
	overflow: hidden;
	*zoom: 1
}

.show-slider .show-title .day {
	font-size: 38px
}

.show-slider .show-nav {
	position: absolute;
	right: 40px;
	top: 45%;
	margin-top: -166px;
	width: 110px;
	z-index: 2
}

.show-slider .show-nav li {
	height: 62px;
	margin-bottom: 6px;
	position: relative;
	overflow: hidden
}

.show-slider .show-nav .active span {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: 2px solid #ff9d00;
	width: 106px;
	height: 58px;
	overflow: hidden
}

.show-slider .show-nav li:first-child, .show-slider .show-nav li:first-child span
	{
	border-radius: 0 5px 0 0
}

.show-slider .show-nav li:last-child, .show-slider .show-nav li:last-child span
	{
	border-radius: 0 0 5px 0
}

.show-slider .show-more {
	position: absolute;
	z-index: 2;
	right: 40px;
	top: 50%;
	margin-top: 160px;
	width: 110px;
	height: 35px;
	background-image: url(/images/index-sprites9.png);
	background-position: -60px -50px !important;
	line-height: 200px;
	overflow: hidden
}

