<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.HotelMapper">

	<!-- 查找用户列表 -->
	<select id="getHotelList" resultType="com.hz.model.Hotel">
		SELECT hotel.id,hname,hoteltype.hoteltype,address,phone,hphoto,hotelintro,hreadnum,lowprice
		FROM hotel,hoteltype WHERE hotel.htid = hoteltype.id
	</select>
	
	<!-- 用户总数 -->
	<select id="getHotelListTotal" resultType="long">
		select count(*) from hotel
	</select>
	
	<select id="getHotelList2" resultType="com.hz.model.Hotel">
		SELECT hotel.id,hname,hoteltype.hoteltype,address,phone,hphoto,hotelintro,hreadnum
		FROM hotel,hoteltype WHERE hotel.htid = hoteltype.id
		ORDER BY hreadnum DESC LIMIT 0,3 
	</select>
	
	<select id="getHotelList3" resultType="com.hz.model.Hotel">
		SELECT hotel.id,hname,address,hotelintro,hphoto,hreadnum,lowprice
		FROM hotel ORDER BY hreadnum DESC
	</select>
	
	<!-- 详情页的热门酒店 -->
	<select id="getHotHotelList" resultType="com.hz.model.Hotel">
		SELECT hotel.id,hname,address,hphoto,hreadnum,lowprice
		FROM hotel ORDER BY hreadnum DESC LIMIT 0,3
	</select>
	
	<select id="getHotelListById" parameterType="int" resultType="com.hz.model.Hotel">
		SELECT * FROM hotel where id = #{id}
	</select>
	
	<!-- 后台删除 -->
	<delete id="deleteHotel" parameterType="int">
		delete from hotel where id = #{id}
	</delete>
	
	<insert id="saveHotel" parameterType="com.hz.model.Hotel">
		INSERT INTO hzmsjd.hotel 
		(htid,hname,address,phone,hphoto,hotelintro,lowprice) VALUES
		(#{hotel.htid},#{hotel.hname},#{hotel.address},#{hotel.phone},#{hotel.hphoto},#{hotel.hotelintro},#{hotel.lowprice})
	</insert>
	
	<select id="getHotelById" parameterType="int" resultType="com.hz.model.Hotel">
		SELECT hotel.id,hname,hoteltype.hoteltype,address,phone,hphoto,hotelintro,hreadnum,lowprice
		FROM hotel,hoteltype WHERE hotel.htid = hoteltype.id and hotel.id = #{id}
	</select>
	
	<update id="update_hotelphoto" parameterType="com.hz.model.Hotel">
		update hzmsjd.hotel  set
			hphoto = #{hotel.hphoto}
		where id = #{hotel.id}
	</update>
	<update id="update_Hotel" parameterType="com.hz.model.Hotel">
		update hzmsjd.hotel  set
			htid = #{hotel.htid},
			hname = #{hotel.hname},
			address = #{hotel.address},
			phone = #{hotel.phone},
			hotelintro = #{hotel.hotelintro},
			lowprice = #{hotel.lowprice}
		where id = #{hotel.id}
	</update>

</mapper>